*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 15px;
    font-family: monospace;
    color: black;
    background-color: gray;
    
}

ul li {list-style: none;}

h1{
    font-size: 30px;
}

/* carousel styles  */
.carousel-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height:100vh;
}

.carousel-container{
    padding: 50px;
}

.carousel-card{
    padding: 50px;
    height: 250px;
    width: 350px;
    background-color:tomato;
    border: 2px solid black;
    box-shadow: 10px 10px 0 black;
    border-radius: 5px;
    margin:10px;
}

/* flipcard section  */
.flipcard-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height:100vh;
    background-color: cadetblue;
}

.flip-container{
    height: 250px;
    width: 350px;
    perspective: 1000px;
}

.flip-card{
    position: relative;
    height: 100%;
    width: 100%;
    transition: all 1s ease-in-out;
    transform-style: preserve-3d;
}

.front-card{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: tomato;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    padding: 50PX;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 10px 10px 0 black;
}

.back-card{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    padding: 50px;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 10px 10px 0 black;
}

.flip-container:hover .flip-card{
    transform: rotateY(180deg);
}

/* gallery section  */
.gallery-section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height:100vh;
    background : linear-gradient(grey, black);
    backdrop-filter: blur(50px);
    transition: all .1s linear;
}


.gallery-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    min-height:400px;
    width: 60%;
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px ;
    background-color: white;
    box-shadow: 10px 10px 0 black;
    overflow-y: auto;
}

.gallery-image{
    height: 150px;
    max-width: 100%;
    width: auto;
    object-fit: fill;
    cursor: pointer;
}

.gallery-image.gallery{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(3);
    transition: all .2s ease-in-out;
}

/* Hoeizontal hover image container  */
.hover-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height:100vh;
    background-color: black;
}

.hover-container h1{
    color: gray;
}

.hover-image-container{
    display: flex;
    gap: 20px;
    perspective: 1000px;
    transform: transform-style(preserve-3d);
}

.image-card{
    height: 200px;
    width: 120px;
    filter: brightness(0);
    transition: all .1s ease-in-out;
}

.hover-image-container figure img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-card:hover{
    transform: scale(120%);
    filter: brightness(100%);
}

.image-card:hover +* {
    transform: rotateY(40deg);
    filter: brightness(50%);
}

.image-card:hover +* +*{
    filter: brightness(30%);
}



.image-card:hover +* +* +*{
    filter: brightness(10%);
}

.image-card:has(+*:hover){
    transform: rotateY(-40deg);
    filter: brightness(50%);
}

.image-card:has(+* +*:hover){
    filter: brightness(30%);
}

.image-card:has(+* +* +*:hover){
    filter: brightness(10%);
}

/* Infinite scroll  */

.infinite-scroll-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height:100vh;
}

.scroll-container{
    position: relative;
    width: 80%;
    height: 60px;
    overflow: hidden;
}

.scroll-item{
    height: 50px;
    width: 100px;
    background-color: tomato;
    border-radius: 4px;
    padding: 8px;
    position: absolute;
    left: 100%;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: calc(30s / 8 * (8 - var(--n)) * -1);
    border: 2px solid black;
    box-shadow: 5px 5px 0 black;
}

@keyframes scroll{

    to{
        left: -100px;
    }
}

/* accordian tab section  */
.accordian-scetion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100vh;
    background-color:darksalmon
}

.accordian-container{
    border: 1px solid black;
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 5px 5px 0 black;
}

.accordian-link{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    background-color:antiquewhite;
    padding: 20px;
    margin-bottom: 4px;
}

.accordian-item{
    cursor: pointer;
}

.arrow{
    font-size: 20px;
}
.accordian-content{
    position: relative;
    height: 0;
    overflow: hidden;
    transition: .5s;
    background-color: rgb(218, 218, 218);
    border-radius: 2px;
    margin: 5px 0;
}

.accordian-item.active .accordian-content{
    height: 80px;
    padding: 10px;
}

.accordian-item.active .arrow{
    transform: rotate(180deg);
    transition: .3s;
}
