@import url(./todolist.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 15px;
    font-family: monospace;
    background-color: gray;
    color: black;
}

ul li {list-style: none;}
h1 { font-size: 30px; }


/* carousel styles  */
.carousel-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height:100vh;
}

.carousel-container{ padding: 50px; }

.carousel-card{
    width: 350px;
    height: 250px;
    padding: 50px;
    background-color:tomato;
    margin:10px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 10px 10px 0 black;
}



/* flipcard section  */
.flipcard-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height:100vh;
    background-color: cadetblue;
}

.flip-container{
    width: 350px;
    height: 250px;
    perspective: 1000px;
}

.flip-card{
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 1s ease-in-out;
    transform-style: preserve-3d;
}

.front-card, .back-card{
    width: 100%;
    height: 100%;
    padding: 50px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 10px 10px 0 black;
    backface-visibility: hidden;
    position: absolute;
}

.front-card{
    background-color: tomato;
    transform: rotateY(0deg);
}

.back-card{
    background-color: aliceblue;
    transform: rotateY(180deg);
}

.flip-container:hover .flip-card{
    transform: rotateY(180deg);
}



/* gallery section  */
.gallery-section{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background : linear-gradient(grey, black);
    backdrop-filter: blur(50px);
    transition: all .1s linear;
    position: relative;
}


.gallery-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    width: 60%;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px ;
    box-shadow: 10px 10px 0 black;
    overflow-y: auto;
}

.gallery-image{
    width: auto;
    height: 150px;
    max-width: 100%;
    object-fit: fill;
    cursor: pointer;
}

.gallery-image.gallery{
    transition: all .2s ease-in-out;
    transform: translate(-50%, -50%) scale(4);
    position: absolute;
    top: 50%;
    left: 50%;
}



/* Horizontal hover image container  */
.hover-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height:100vh;
    background-color: black;
}

.hover-container h1{
    color: gray;
}

.hover-image-container{
    display: flex;
    gap: 20px;
    perspective: 1000px;
    transform: transform-style(preserve-3d);
}

.image-card{
    width: 120px;
    height: 200px;
    filter: brightness(0);
    transition: all .1s ease-in-out;
}

.hover-image-container figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-card:hover{
    transform: scale(120%);
    filter: brightness(100%);
}

.image-card:hover +* {
    transform: rotateY(40deg);
    filter: brightness(50%);
}

.image-card:hover +* +*{
    filter: brightness(30%);
}


.image-card:hover +* +* +*{
    filter: brightness(10%);
}

.image-card:has(+*:hover){
    transform: rotateY(-40deg);
    filter: brightness(50%);
}

.image-card:has(+* +*:hover){
    filter: brightness(30%);
}

.image-card:has(+* +* +*:hover){
    filter: brightness(10%);
}




/* Infinite scroll  */
.infinite-scroll-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height:100vh;
}

.marquee-container {
    width: 90%;
    height: 80px;
    position: relative;
    overflow: hidden;
}

.marquee-item {
    width: max-content;
    padding: 20px;
    background-color: tomato;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 0 black;
    position: absolute;
    left: max(calc(150px * 8), 100%);
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: calc(30s/8 * (8 - var(--n)) * -1);
}

@keyframes scroll {
    to{
        left: -100px;
    }
}

.marquee-container:hover .marquee-item {
    animation-play-state: paused;
}




/* accordian tab section  */
.accordian-scetion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100vh;
    background-color: white;
}

.accordion-container{
    width: 400px;
}

.accordion-link{
    padding: 15px;
    background-color: aliceblue;
    margin-bottom: 2px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.accordion-descp{
    height: 0;
    background-color : azure;
    border-radius: 2px;
    transition: .5s;
    overflow: hidden;
}

.accordion-item.active .accordion-descp{
    height: 80px;
    padding: 10px;
}